.parallax-content{
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: lightblue;
}

/* Text */

.parallax-text{
    position: absolute;
    top: 35%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px;
    overflow: hidden;
    z-index: 1;
}

.parallax-text h1,
.parallax-text span
{
    text-align: center;
    font-weight: 400;
    font-family: var(--VT323);
    text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
}

.parallax-text h1{
    font-size: 8rem;
    color: black;
    animation: show-text 1500ms;
    margin-bottom: 20px;
}

.parallax-text span{
    font-size: 2rem;
    letter-spacing: 1px;
    opacity: 0;
    animation: flicker 800ms 1000ms forwards;
}

/* Images */

.parallax-content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@keyframes show-text{
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flicker{
    0%{
        opacity: 0;
    }
    15%{
        opacity: 20%;
    }
    22%{
        opacity: 5%;
    }
    35%{
        opacity: 40%;
    }
    40%{
       opacity: 0; 
    }
    60%{
        opacity: 80%;
    }
    79%{
       opacity: 15%; 
    }
    100%{
        opacity: 100%;
    }
    
}

/* Media */

