/* button styling */

.about-me-btn{
    position: relative;
    padding: 16px 20px;
    border: none;
    outline: none;
    background-color: var(--light-black); 
    color: white;
    font-size: 1rem;
    text-align: center;
    opacity: .6;
    z-index: 1;
    cursor: pointer;
}

.about-me-btn::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0; 
    background-color: var(--gold); 
    width: 0;
    height: 100%;
    transition: 700ms;
    z-index: -1;
}

.about-me-btn:hover{
    opacity: 1;
    font-weight: bold;
    color: var(--black); 
}

.about-me-btn:hover::before{
    width: 100%;
}