#languages{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px; 
    background-image: linear-gradient(to bottom, rgb(0 131 214), #eaeaea);
}
/* Heading */

#languages h1{
    color: rgb(97, 255, 242);
    font-family: var(--VT323);
    font-size: 6rem; 
    font-weight: 400;
    text-shadow: var(--dark-shadow);
    opacity: 0;
}


/* Card content */

.languages-content{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(60px, 80px));
    column-gap: 10%; 

    padding: 20px;
    max-width: 1000px;
    width: 100%;

    background-color: #fcfbf8; 
    border-radius: 10px;
    border-right: 10px solid rgb(97, 255, 242);
    border-left: 10px solid rgb(97, 255, 242);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    opacity: 0;
}

/* div */

.languages-content div{
    position: relative;
    transition: 300ms;
    overflow: hidden;
}

.languages-content div::before{
    position: absolute;
    display: block;
    content: ''; 
    top: 0;
    left: 0;

    /* border */
    border-bottom: 3px solid rgb(97, 255, 242);

    /* image */
    background-repeat: no-repeat;
    background-size: 100%; 
    width: 100%;
    height: 0;
    opacity: 1;
    transition: 400ms;
}

/* Image */

.book{
    opacity: 0;
}

.book img{
    width: 250px;
}

/* Html */
.languages-content div.html::before{
    background-image: url('/src/assets/languages/html-c.png');
}

/* Css */
.languages-content div.css::before{
    background-image: url('/src/assets/languages/css-c.png');
}

.languages-content div.js::before{
    background-image: url('/src/assets/languages/js-c.png');
}

.languages-content div.react::before{
    background-image: url('/src/assets/languages/react-c.png');
}

/* Hover */
.languages-content div:hover::before{
    height: 100%;
}

.languages-content img{
    width: 100%;
}

/* Scroll Animations */

#languages h1.reveal.active{
    animation: flicker 800ms 300ms forwards; 
}

.languages-content.reveal.active{
    animation: scale-animation 800ms  400ms forwards;
}

.book.reveal.active{
    animation: scale-animation 800ms 400ms forwards; 
}

/* Media */

@media screen and (max-width: 500px) {
    #languages h1{
        font-size: 5.5rem;
    }
}

@media screen and (max-width: 430px) {
    #languages h1{
        font-size: 4.5rem;
    }
}