#footer{
    position: relative;
    height: 50vh;
    border-top: 5px solid rgb(222 222 222);
    overflow: hidden;
}

.footer-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}